
@{
    ViewBag.Title = "Index";
}

<h2>Addition</h2>
<label>Ingrese un número, por favor:</label>
<input type="number" id="txtnumber-first" default="0" />
<label>Ingrese otro número, por favor:</label>
<input type="number" id="txtnumber-second" default="0" />
<input type="button" value="Sumar" id="btnAdd" onclick="addNumbers()"/>
<br />
<label><strong>Result:</strong></label><label id="lbladdition">0</label>
<br />
<input type="button" value="X" id="btnClear" onclick="clearInputs()" />

<script src="~/Scripts/Addition.js"></script>