
@{
    ViewBag.Title = "Index";
}

<h2>Docentes:</h2>
<label>Seleccione modalidad contrato:</label>
<select id="cbo-contract"></select>

<div id="div-table-docentes"></div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="~/Scripts/Docente.js"></script>
<script src="~/Scripts/datatables.min.js"></script>