
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/datatables.css" rel="stylesheet" />

<h2>Curso View</h2>

<div id="div-table-curso"></div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="~/Scripts/Curso.js"></script>
<script src="~/Scripts/datatables.min.js"></script>