
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/datatables.css" rel="stylesheet" />
<link href="~/Content/formsStyle.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />


<h2>GradoSeccion</h2>
<div id="div-table-gradoseccion"></div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/GradoSeccion.js"></script>
<script src="~/Scripts/datatables.min.js"></script>