
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/datatables.css" rel="stylesheet" />

<h2>Alumno</h2>
<label>Seleccione Genero:</label>
<select id="cbo-gender"></select>
<input type="button" value="Buscar"/>
<div id="div-table-alumno"></div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="~/Scripts/Alumno.js"></script>
<script src="~/Scripts/datatables.min.js"></script>